<ul class="list-group">
  <li *ngFor="let fire of fires" class="list-group-item"
    [class.selected]="fire === selectedFire"
    (click)="onSelect(fire)">
    <p><fa name="fire" style="color: red;"></fa> {{fire.report_date | date:'short'}} </p> 
    <p> <fa name="map-marker" ></fa> {{fire.lat}} , {{fire.lon}}</p>
    <p> <fa name="thermometer-half" ></fa> {{fire.temp}} &deg;C</p>
    <p> <fa name="map" ></fa> {{fire.area}} km<sup>2</sup></p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class=" btn btn-outline-danger btn-sm"><fa name="info"></fa> More Info </button>
      <button class=" btn btn-outline-primary btn-sm"><fa name="bell"></fa> Send Alert</button>
      <button class=" btn btn-outline-success btn-sm"><fa name="check"></fa> Done</button>
    </div>
  </li>
</ul>
