<div class="row h-100">
  <div class="col-md-4 ">
    <div style="overflow-y: scroll; height: 70%;">
    <app-fire-notifications></app-fire-notifications>
  </div>
    <!-- <ul class="list-group">
    <li class="list-group-item"><p><fa name="fire"  style="color: red;"></fa> Near Windhoek (Lat: -22.7, Lon: 17.26) 40&deg;C 30Km<sup>2</sup></p>
      <p><fa name="clock"></fa> 19/10/2018 12:00</p>
      <div class="btn-group" role="group" aria-label="Basic example">
          <button class=" btn btn-outline-danger btn-sm"><fa name="info"></fa> More Info </button>
          <button class=" btn btn-outline-primary btn-sm"><fa name="bell"></fa> Send Alert</button>
          <button class=" btn btn-outline-success btn-sm"><fa name="check"></fa> Done</button>
        </div>
    </li>
    <li class="list-group-item"><p><fa name="fire" size="2x" style="color: red;"></fa> <fa name="fire" size="2x" style="color: red;"></fa> Near Capetown (Lat: -33.6443, Lon: 18.5271) 60&deg;C; 100Km<sup>2</sup></p>
      <p><fa name="clock" style="color:orange"></fa> 19/10/2018 08:00</p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button class=" btn btn-outline-danger btn-sm"><fa name="info"></fa> More Info </button>
        <button class=" btn btn-outline-primary btn-sm"><fa name="bell"></fa> Send Alert</button>
        <button class=" btn btn-outline-success btn-sm"><fa name="check"></fa> Done</button>
      </div>
    </li>    
  </ul> -->
</div>
<br />
  <div   id="map" class="col-md-7 map h-100"></div>
</div>